default:
  tags:
    - docker
  image: alpine

before_script:
  - apk add
    py3-coverage
    py3-numpy
    py3-pytest
    py3-scipy

test:
  script:
    - coverage run -m pytest --junitxml pytest.xml
    - coverage report
    - coverage xml
  coverage: '/TOTAL.+ ([0-9]{1,3}%)/'
  artifacts:
    when: always
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
      junit: pytest.xml
